<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/EasyUiCss")
    @Scripts.Render("~/bundles/jqueryEasyUi")
    @Scripts.Render("~/bundles/CommonJS")
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>
    @RenderBody()
    <input type="hidden" id="user_buttons" value="@Session["user_buttons"]" />
</body>
</html>
